FLASK_ENV=development
SECRET_KEY=your_secret_key_here
DATABASE_URL=sqlite:///bubble_ai.db
OPENAI_API_KEY=your_openai_api_key
JWT_SECRET_KEY=your_jwt_secret_key
DBS_PAYMENT_API_KEY=your_dbs_api_key
ADMIN_EMAIL=sumsudean@gmail.com
ADMIN_PASSWORD=dontaskmeidk
